---
// This page has moved to /budgetbaby/docs
// Kept here for any inbound links; redirects immediately.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/budgetbaby/docs" />
    <link rel="canonical" href="https://babyblocks.io/budgetbaby/docs" />
    <title>BudgetBaby Documentation</title>
  </head>
  <body>
    <p>Redirecting to <a href="/budgetbaby/docs">BudgetBaby Documentation</a>...</p>
  </body>
</html>
